<nav class="navbar">
  <div class="logo">
    <a routerLink="/">MyStore</a>
  </div>

  <ul class="nav-links">
    <li><a routerLink="/">Home</a></li>
   
    <li><a routerLink="/cart">Cart <span class="cart-badge">{{ cartCount }}</span></a></li>
    <li *ngIf="!isLoggedIn"><a routerLink="/login" >Login</a></li>
    <li *ngIf="!isLoggedIn"><a routerLink="/register" >Register</a></li>
    <li class="nav-item" *ngIf="isLoggedIn">
      <button class="btn btn-outline-danger" (click)="logout()"><img src="logout.png" style="width: 35px; " alt=""></button>
    </li>
  </ul>

  <div class="hamburger" (click)="toggleMenu()">
    ☰
  </div>
</nav>

<!-- Mobile menu -->
<ul class="mobile-menu" [class.open]="menuOpen">
  <li><a routerLink="/" (click)="toggleMenu()">Home</a></li>
  
  <li><a routerLink="/cart" (click)="toggleMenu()">Cart <span class="cart-badge">{{ cartCount }}</span></a></li>
  <li><a routerLink="/login" (click)="toggleMenu()">Login</a></li>
</ul>
